.fade{

}
.quote{
  font-family: cursive;
  font-size: 16px;
  text-align: center;
  color:black;
}
.head{
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;


}
.q{
  color: white;
  text-align: center;
}
img{

 height: 200px;
 width: 180px;

  border-radius: 50%;


}
.edu{
  /*background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
*/   background-blend-mode: normal, lighten, soft-light;
box-shadow: 5px 10px 8px 10px #888888;
padding: 10px 10px;


} .bg{
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  z-index: 1;}
.sec{
  text-align: center;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #007bb5;
  color: white;

}
.fa-linkedin {
  background: #007bb5;
  color: white;

}




li a:hover {
  background-color #ee9617;
 background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

  color: black;
}
.educ{ text-align: center;
  padding:10px;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  color: black;
  box-shadow: 5px 10px 8px  #888888;
  border-radius: 10%;


}
.educ:hover{
background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.proj{
  padding:10px;
  color:black;
}
.proj:hover{
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.bullets{


  list-style-type: square;
}
.each{

/*background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);*/

  padding:20px;
}
#section1{

    padding:20%;
    padding-top: 12%;
    text-align: center;
    color: white;
    background-color: black;
}
     /* margin is -0.5 * dimension */




.bs-example{
    	margin: 20px;}

.box{
  /*border-left: 6px solid green;*/
  /*box-shadow: 5px 10px 8px  #888888;*/
  color: black;
  font-size: 14px;
  padding:10px;
  padding-left: 6px;
/*  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
  z-index: 1;
}
.box:hover{
  /*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
  box-shadow: 5px 10px 8px  #888888;
  transform: scale(1.1);

}
.boxin{
  /*background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: white;*/
  color: black;
}
